.main-allpageback {
    background-image: linear-gradient(to bottom, #2C2C2C, #424242);
}

.main-sectionmain {
    background-image: none;
}

.main-services-center {
    margin: 0 auto;
    animation: var(--animation-main-section);
}

.main-sectionmain-title {
    margin-bottom: 15px;
}

.main-sectionmain-paragraph {
    width: clamp(250px, 40vw, 504px);
}