.main-sectionmain {
    background-image: linear-gradient(-12deg, rgb(61, 61, 61), rgb(24, 24, 24));
    padding-inline: 6vw;
    height: clamp(300px, 92svh, 700px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-sectionmain-title {
    color: white;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 20px;
}

.main-sectionmain-paragraph {
    color: white;
    font-weight: 400;
    max-width: 600px;
    font-size: 1.1rem;
    margin-bottom: 35px;
}

.main-sectionmain-button {
    background-color: var(--color1);
    color: white;
    font-size: 1.17rem;
    max-width: 180px;
}