.main-sectioncontactus {
    background-color: #282828;
    padding-inline: 100px;
    font-family: var(--font1);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    padding-block: 70px;
}

.main-section-contactus-contact {
    margin-bottom: 50px;
}

.contactus-title {
    color: white;
    font-size: 1.45rem;
}

.main-section-contactus-contact-title {
    color: white;
    font-size: 1.45rem;
    margin-bottom: 32px;
}

.main-section-contactus-contact-button {
    padding: 9px 25px !important;
    font-size: 1.1rem !important;
}

.main-sectioncontactus-contacts {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 45px 60px 60px 60px;
    column-gap: 100px;
}

.main-sectioncontactus-contacts-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    grid-column: 1;
}

.main-sectioncontactus-contacts-item-right-item {
    grid-row: 2 / span 3;
    grid-column: 2;
}

.main-sectioncontactus-contacts-item-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.main-sectioncontactus-contacts-item-top-image {
    width: 28px;
}

.main-sectioncontactus-contacts-item-top-title {
    color: white;
    font-weight: 600;
}

.main-sectioncontactus-contacts-item-subtitle {
    color: white;
    font-weight: 400;
    text-indent: 38.6px;
}

.main-sectioncontactus-contacts-item-iframe {
    border-radius: 4px;
    margin-left: 38.6px;
}
