.main-sectionbrandswehelp {
    background-image: linear-gradient(to bottom, #2c2c2c 50%, var(--color0));
    padding-block: 70px;
}

.main-sectionbrandswehelp-title {
    color: #EEEEEE;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.main-sectionbrandswehelp-brands {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.main-sectionbrandswehelp-brands-item {
    background-color: hsla(0, 0%, 36%, 0.5);
    padding-block: 10px;
    border-radius: 10px;
}