@media screen and (max-width: 1280px) {
    html {
        font-size: 12px;
    }

    .main-sectionourteam-team-item-picture {
        width: clamp(150px, 30%, 300px);
    }

    .main-sectionbrandswehelp-brands {
        justify-content: center;
        gap: 20px;
    }

    .main-sectionbrandswehelp-brands-item img {
        width: 17vw;
    }

    .main-sectionworks-work-images {
        width: 88%;
    }

    .main-sectioncontactus-forms {
        width: 48%;
    }

    .main-sectioncontactus-contacts-item-iframe {
        width: 100%;
    }
}

@media screen and (max-width: 1100px) {
    .main-sectionworks-work-images {
        width: 100%;
    }
}

@media screen and (max-width: 932px) {
    .main-sectionintroduction-list {
        flex-direction: column;
        gap: 10px;
    }

    .main-sectionintroduction-list-item {
        width: 100%;
        flex-direction: row;
        transition: all .3s;
        align-items: center;
    }

    .main-sectionintroduction-list-item * {
        flex-basis: 100%;
        transition: all .3s;
    }

    .main-sectionintroduction-list-item-image {
       border-top-right-radius: 0px;
       border-bottom-left-radius: 4px;
       width: 100%;
       height: 100%;
    }

    .main-section-list-item-picture {
        width: 100%;
        height: 100%;
    }

    .header {
        padding-inline: 5vw;
        height: 65px;
    }

    .header-logocompany-logo {
        width: 40px;
    }

    .main-sectionmain {
        padding-inline: 5vw;
    }

    .main-sectionourteam {
        padding-inline: 5vw;
    }
    
    .main-sectionourteam-team {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .main-sectionourteam-team-item-left > .main-sectionourteam-team-item-image {
        box-shadow: 20px 0px 0px var(--color4);
    }
    
    .main-sectionourteam-team-item-image {
        box-shadow: -20px 0px 0px var(--color3);
    }

    .main-sectionourteam-team-item-text {
        width: 50%;
    }

    .main-sectioncontactus {
        grid-template-columns: 100%;
    }

    .main-sectioncontactus-contacts {
        grid-template-columns: 100%;
        grid-template-rows: 5;
    }

    .main-sectioncontactus-contacts-item-right-item {
        grid-column: 1;
        grid-row: 5;
    }

    .main-sectioncontactus-forms {
        margin-bottom: 60px;
        justify-content: center;
    }

    .main-sectioncontactus-forms, .main-sectioncontactus-contacts {
        width: 100%;
    }

    .main-sectioncontactus-contacts-item-iframe {
        width: 91.3%;
    }
}

@media screen and (max-width: 787px) {
    html {
        font-size: 11px;
    }

    .main-sectionintroduction-front {
        padding-inline: 20px;
    }

    .main-sectionintroduction-list-item-text {
        padding-inline: 2vw;
    }

    .main-sectionbrandswehelp-brands {
        margin-top: 25px;
        gap: 1.3vw;
    }

    .main-sectionbrandswehelp-brands-item {
        border-radius: 5px;
    }

    .main-sectionbrandswehelp-brands-item img {
        width: 18vw;
    }

    .main-sectionourteam {
        padding-top: 50px;
    }
    
    .main-sectionourteam-team  {
        gap: 20px;
    }

    .main-sectionourteam-team-item-text {
        width: 60%;
    }

    .main-sectionworks-work-buttons {
        display: flex;
        gap: 18px;
    }

    .main-sectionworks-work-buttons-item {
        width: 12px;
        height: 12px;
    }

    .main-sectioncontactus {
        padding-inline: 5vw;
    }

    .main-sectioncontactus-contacts-item {
        gap: 1px;
    }

    .footer {
        padding-inline: 5vw;
    }

    .footer-socials-item, .main-sectioncontactus-contacts-item-top-image {
        width: 22px;
    }
}

/* @media screen and (max-width: 675px) {
    
} */