@media screen and (min-width: 1612px) {
    html {
        font-size: 13px;
    }
    .main > section, .main-sectionintroduction-front {
        padding-inline: 15vw !important;
    }

    .main > .main-sectionintroduction {
        padding-inline: 0px !important;
    }

    .main-sectionbrandswehelp-brands-item {
        border-radius: 10px;
    }

    .main-sectionbrandswehelp-brands-item > img {
        width: fit-content;
        margin-inline: 0;
    }
}

@media screen and (min-width: 2880px) {
    .main-sectionworks-work-images {
       width: 1350px;
    }

    .main-sectionworks-work-images-item {
        width: 1350px;
    }
}

@media screen and (min-width: 2040px) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 2294px) {
    html {
        font-size: 15px;
    }
    
    .main > section {
        padding-inline: 25vw !important;
    }
    
    .main-sectionintroduction-front {
        padding-inline: 25vw !important;
    }
}

@media screen and (min-width: 3100px) {
    html {
        font-size: 18px;
    }

    .main-sectionmain {
        padding-block: 15vh;
    }
}

@media screen and (min-width: 3675px) {
    .main-sectionworks-work-images {
        width: 1750px;
    }

    .main-sectionworks-work-images-item {
        width: 1750px;
    }
}

@media screen and (min-width: 3800px) {
    html {
        font-size: 23px;
    }

    .main-sectionmain {
        padding-block: 20vh;
    }

    .main-sectionworks-work-images {
        width: 1900px;
        height: 60vh;
    }

    .main-sectionworks-work-images-item {
        width: 1900px;
    }

    .main-sectioncontactus-contacts {
        row-gap: 2vh;
    }
}

@media screen and (min-width: 4300px) {
    html {
        font-size: 28px;
    }

    .main-sectionmain {
        padding-block: 15vh;
    }

    .main-sectionmain-button {
        max-width: 250px;
    }

    .main-sectionworks-work-images {
        width: 1600px;
        height: 30vh;
    }

    .main-sectionworks-work-images-item {
        width: 1600px;
    }
}