@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color0: #363636;
    --color1: #424242;
    --color2: #C2C2C2;
    --color3: #333333;
    --color4: #828282;

    --logo-title-color: white;

    --font-default: "IBM Plex Mono", monospace;
    --font1: "Inter", sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

input, textarea {
    outline: none;
    border: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    background-color: var(--color4);
    font-size: 13.4px;
    cursor: url("../images/cursor/cursor-normal.svg"), pointer;
}

body {
    font-family: var(--font-default);
}

footer {
    font-family: var(--font1);
}

button {
    border: none;
}

button:hover {
    cursor: url("../images/cursor/cursor-event.svg"), pointer;
}

a:hover {
    cursor: url("../images/cursor/cursor-event.svg"), pointer;
}

label:hover {
    cursor: url("../images/cursor/cursor-event.svg"), pointer;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color2);
    border-radius: 3px;
}
