/*.header-logocompany-logo-back {
    border-bottom: 8px solid #BFBFBF;
    width: 30px;
    height: 30px;
    border-radius: 9px;
    transform: rotate(35deg);
    position: relative;
    top: 20px;
    left: 20px;
}

.header-logocompany-logo-back1 {
    left: 18px;
    top: -18px;
    transform: rotate(-35deg);
}

.header-logocompany-logo-back2 {
    top: -58px;
    left: 18px;
    transform: rotate(90deg);
}

.header-logocompany-logo-back3 {
    top: -96px;
    left: 20px;
    transform: rotate(270deg);
}

.header-logocompany-logo-back4 {
    top: -135px;
    left: 19px;
    transform: rotate(145deg);
}

.header-logocompany-logo-back5 {
    top: -173px;
    left: 19px;
    transform: rotate(-145deg);
}

.header-logocompany-logo-front {
    border: 2.5px solid #FFFFFF;
    position: relative;
    border-radius: 5px;
}

.header-logocompany-logo-front0 {
    width: 10px;
    top: -184px;
    left: 32px;
    transform: rotate(90deg);
}

.header-logocompany-logo-front1 {
    top: -188px;
    left: 21px;
    width: 10px;
    transform: rotate(90deg);
}

.header-logocompany-logo-front2 {
    top: -200px;
    left: 17px;
    width: 10px;
    transform: rotate(35deg);
}

.header-logocompany-logo-front3 {
    top: -204px;
    left: 36px;
    width: 10px;
    transform: rotate(-35deg);
}

.header-logocompany-logo-front4 {
    top: -200px;
    left: 22.7px;
    width: 17.5px;
    transform: rotate(90deg);
}

.header-logocompany-logo-front5 {
    top: -219px;
    left: 15px;
    width: 17.5px;
    transform: rotate(35deg);
}

.header-logocompany-logo-front6 {
    top: -223px;
    left: 31px;
    width: 17.5px;
    transform: rotate(-35deg);
}

.header-logocompany-logo-front7 {
    top: -233px;
    left: 22px;
    width: 10px;
    transform: rotate(35deg);
}

.header-logocompany-logo-front8 {
    top: -237px;
    left: 31px;
    width: 10px;
    transform: rotate(-35deg);
}*/

.header-menu {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.header-menu-line {
    border: 1px solid white;
    width: 28px;
    border-radius: 5px;
}