@keyframes opacity-brightness-increase {
    from {
        filter: opacity(0%) brightness(20%);
    }

    to {
        filter: opacity(100%) brightness(100%);
    }
}

@keyframes opacity-increase {
    from {
        filter: opacity(0%);
    }

    to {
        filter: opacity(100%);
    }
}