.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    padding-inline: 80px;
    background-color: var(--color0);
    position: relative;
}

.header-logocompany-logo {
    position: absolute;
    height: 60px;
    width: fit-content;
    top: 0px;
}

.header-title {
    color: var(--logo-title-color);
    position: relative;
    left: 55px;
    font-size: 26px;
    letter-spacing: -.11em;
    font-weight: 400;
    top: 19px;
}

.header-menu {
    position: relative;
    top: 29px;
}

.main-sectionmain {
    background-image: linear-gradient(-12deg, rgb(61, 61, 61), rgb(24, 24, 24));
    padding-inline: 100px;
    height: 113vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-sectionmain-title {
    color: white;
    font-weight: 600;
    font-size: 3em;
    margin-bottom: 20px;
}

.main-sectionmain-paragraph {
    color: white;
    font-weight: 400;
    max-width: 600px;
    font-size: 1.1em;
    margin-bottom: 35px;
}

.main-sectionmain-button {
    background-color: var(--color1);
    color: white;
    font-size: 1.17em;
    margin-bottom: 190px;
}

.main-sectionintroduction {
    position: relative;
    top: -170px;
    right: 5px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main-sectionintroduction-title {
    color: white;
    position: relative;
    top: 100px;
    font-size: 5em;
    letter-spacing: .5em;
    text-transform: capitalize;
    text-align: right;
    left: -20px;
    max-width: 500px;
    height: fit-content;
    padding-left: 50px;

}

.main-sectionintroduction-introduction-space {
    background-color: var(--color1);
    top: 50px;
    width: 95vw;
    height: 300px;
    position: absolute;
    left: 0px;
    z-index: -1;
    border-radius: 40% 40% 0% 0%;
    border-top: 5px solid var(--color2);
}


.main-sectionintroduction-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0px 35px;
}

.main-sectionintroduction-list-item {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    background-color: var(--color2);
    border-radius: 4px;
}

.main-sectionintroduction-list-item-image {
    width: 280px;
    height: 185px;
    border-radius: 4px 4px 0px 0px;
    object-fit: cover;
}

.main-sectionintroduction-list-item-text {
    padding: 20px 30px;
}

.main-sectionintroduction-list-item-text-title {
    color: black;
    font-weight: 600;
    font-size: 1.05em;
    margin-bottom: 15px;
}

.main-sectionintroduction-list-item-text-paragraph {
    color: black;
    font-weight: 400;
    font-size: .95em;
}

.main-sectionourteam {
    background-color: var(--color1);
    position: relative;
    top: -442px;
    z-index: 0;
    padding-top: 430px;
    padding-inline: 100px;
    padding-bottom: 40px;
}

.main-sectionourteam-top {
    text-align: center;
    margin-bottom: 60px;
}

.main-sectionourteam-top-title {
    color: white;
    font-size: 2.1em;
    font-weight: bold;
}

.main-sectionourteam-top-paragraph {
    color: white;
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.25em;
    font-weight: 300;
    letter-spacing: .023em;
}

.main-sectionourteam-team-item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: right;
    gap: 20px;
}
.main-sectionourteam-team-item-left {
    flex-direction: row;
}

.main-sectionourteam-team-item-left > .main-sectionourteam-team-item-text {
    text-align: left;
}

.main-sectionourteam-team-item-image {
    width: 400px;
}

.main-sectionourteam-team-item-text  {
    max-width: 600px;
}

.main-sectionourteam-team-item-text-title {
    color: white;
    font-weight: bold;
}

.main-sectionourteam-team-item-text-profission {
    color: white;
    font-weight: 300;
    font-size: .92em;
    margin-bottom: 10px;
}

.main-sectionourteam-team-item-text-paragraph {
    color: white;
    font-weight: 300;
    font-size: 1.1em;
    letter-spacing: 0.155em;
}

