.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    padding-inline: 80px;
    background-color: var(--color0);
    position: relative;
}

.header-logocompany-logo {
    position: absolute;
    height: 60px;
    width: fit-content;
    top: 0px;
}

.header-title {
    color: var(--logo-title-color);
    position: relative;
    left: 55px;
    font-size: 26px;
    letter-spacing: -.11rem;
    font-weight: 400;
    top: 19px;
}

.header-menu {
    position: relative;
    top: 29px;
}

.main-sectionmain {
    background-image: linear-gradient(-12deg, rgb(61, 61, 61), rgb(24, 24, 24));
    padding-inline: 100px;
    height: 113vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-sectionmain-title {
    color: white;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 20px;
}

.main-sectionmain-paragraph {
    color: white;
    font-weight: 400;
    max-width: 600px;
    font-size: 1.1rem;
    margin-bottom: 35px;
}

.main-sectionmain-button {
    background-color: var(--color1);
    color: white;
    font-size: 1.17rem;
    margin-bottom: 190px;
}

.main-sectionintroduction {
    position: relative;
    top: -170px;
    right: 5px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main-sectionintroduction-title {
    color: white;
    position: relative;
    top: 100px;
    font-size: 5rem;
    letter-spacing: .5rem;
    text-transform: capitalize;
    text-align: right;
    left: -20px;
    max-width: 500px;
    height: fit-content;
    padding-left: 50px;

}

.main-sectionintroduction-introduction-space {
    background-color: var(--color1);
    top: 50px;
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0px;
    z-index: -1;
    border-radius: 40% 40% 0% 0%;
    border-top: 5px solid var(--color2);
}


.main-sectionintroduction-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0px 35px;
}

.main-sectionintroduction-list-item {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    background-color: var(--color2);
    border-radius: 4px;
}

.main-sectionintroduction-list-item-image {
    width: 280px;
    height: 185px;
    border-radius: 4px 4px 0px 0px;
    object-fit: cover;
}

.main-sectionintroduction-list-item-text {
    padding: 20px 30px;
}

.main-sectionintroduction-list-item-text-title {
    color: black;
    font-weight: 600;
    font-size: 1.05rem;
    margin-bottom: 15px;
}

.main-sectionintroduction-list-item-text-paragraph {
    color: black;
    font-weight: 400;
    font-size: .95rem;
}

.main-sectionourteam {
    background-color: var(--color1);
    position: relative;
    top: -442px;
    z-index: 0;
    padding-top: 430px;
    padding-inline: 100px;
    padding-bottom: 40px;
}

.main-sectionourteam-top {
    text-align: center;
    margin-bottom: 60px;
}

.main-sectionourteam-top-title {
    color: white;
    font-size: 2.1rem;
    font-weight: bold;
}

.main-sectionourteam-top-paragraph {
    color: white;
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: .023rem;
}

.main-sectionourteam-team-item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: right;
    gap: 20px;
}
.main-sectionourteam-team-item-left {
    flex-direction: row;
}

.main-sectionourteam-team-item-left > .main-sectionourteam-team-item-text {
    text-align: left;
}

.main-sectionourteam-team-item-image {
    width: 400px;
}

.main-sectionourteam-team-item-text  {
    max-width: 600px;
}

.main-sectionourteam-team-item-text-title {
    color: white;
    font-weight: bold;
}

.main-sectionourteam-team-item-text-profission {
    color: white;
    font-weight: 300;
    font-size: .92rem;
    margin-bottom: 10px;
}

.main-sectionourteam-team-item-text-paragraph {
    color: white;
    font-weight: 300;
    font-size: 1.1rem;
    letter-spacing: 0.155rem;
}

.main-sectionbrandswehelp {
    background-color: var(--color0);
    position: relative;
    top: -442px;
    padding-block: 70px;
}

.main-sectionbrandswehelp-title {
    color: #EEEEEE;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.main-sectionbrandswehelp-brands {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.main-sectionbrandswehelp-brands-item {
    background-color: hsla(0, 0%, 36%, 0.5);
    padding-block: 10px;
    border-radius: 10px;
}

.main-sectionworks {
    position: relative;
    top: -442px;
    background-color: var(--color0);
    padding-bottom: 100px;
}

.main-sectionworks-title {
    color: #EEEEEE;
    text-align: center;
    font-size: 1.8rem;
    text-transform: capitalize;
}

.main-sectionworks-work-title {
    color: #eeeeee94;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -40px;
    font-weight: 300;
}

.main-sectionworks-work-images {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 100%;
    height: 95vh;
}

.main-sectionworks-work-images-item {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    padding-top: 55px;
}

.main-sectionworks-work-images-item-center {
    object-position: center center;
}

.main-sectioncontactus {
    position: relative;
    top: -442px;
    background-color: #282828;
    padding-inline: 100px;
    font-family: var(--font1);
    padding-top: 70px;
}

.main-sectioncontactus-title {
    color: white;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.6rem;
}

.main-sectioncontactus-forms {
    display: grid;
    width: 40%;
    grid-template-areas: "firstname lastname" "email email" "message message";
    row-gap: 23px;
    column-gap: 17px;
    margin-top: 40px;
}

