.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    padding-inline: 80px;
    background-color: var(--color0);
}

.header-logocompany {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logocompany-logo {
    width: 47px;
}

.header-title {
    color: var(--logo-title-color);
    font-size: 1.625rem;
    letter-spacing: -.11rem;
    font-weight: 400;
}

.header-menu {
    position: relative;
    top: 29px;
}

.main-sectionmain {
    background-image: linear-gradient(-12deg, rgb(61, 61, 61), rgb(24, 24, 24));
    padding-inline: 100px;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-sectionmain-title {
    color: white;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 20px;
}

.main-sectionmain-paragraph {
    color: white;
    font-weight: 400;
    max-width: 600px;
    font-size: 1.1rem;
    margin-bottom: 35px;
}

.main-sectionmain-button {
    background-color: var(--color1);
    color: white;
    font-size: 1.17rem;
}

.main-sectionintroduction {
    width: 100%;
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-sectionintroduction-front {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #2c2c2c 50%, var(--color1));
    width: 100%;
    padding: 80px 35px;
    z-index: 0;
}

.main-sectionintroduction-title {
    color: white;
    font-size: 2.1rem;
    text-transform: capitalize;
    text-align: right;
    left: -20px;
    text-align: center;
    height: fit-content;
}

.main-sectionintroduction-paragraph {
    color: white;
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: .01rem;
    text-align: center;
    margin-bottom: 50px;
}

.main-sectionintroduction-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px 35px;
}

.main-sectionintroduction-list-item {
    display: flex;
    flex-direction: column;
    width: 33%;
    background-color: var(--color1);
    border-radius: 4px;
}

.main-sectionintroduction-list-item-image {
    width: 100%;
    height: 185px;
    border-radius: 4px 4px 0px 0px;
    object-fit: cover;
}

.main-sectionintroduction-list-item-text {
    padding: 20px 30px;
}

.main-sectionintroduction-list-item-text-title {
    color: rgb(243, 243, 243);
    font-weight: 600;
    font-size: 1.05rem;
    margin-bottom: 15px;
}

.main-sectionintroduction-list-item-text-paragraph {
    color: rgb(243, 243, 243);
    font-weight: 400;
    font-size: .95rem;
}

.main-sectionourteam {
    background-color: var(--color1);
    z-index: 0;
    padding-top: 80px;
    padding-inline: 100px;
    padding-bottom: 40px;
}

.main-sectionourteam-top {
    text-align: center;
    margin-bottom: 60px;
}

.main-sectionourteam-top-title {
    color: white;
    font-size: 2.1rem;
    font-weight: bold;
}

.main-sectionourteam-top-paragraph {
    color: white;
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: .023rem;
}

.main-sectionourteam-team-item {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: right;
    gap: 20px;
}
.main-sectionourteam-team-item-left {
    flex-direction: row;
}

.main-sectionourteam-team-item-left > .main-sectionourteam-team-item-text {
    text-align: left;
}

.main-sectionourteam-team-item-left > .main-sectionourteam-team-item-image {
    box-shadow: 30px 0px 0px var(--color4);
}

.main-sectionourteam-team-item-image {
    width: 400px;
    box-shadow: -30px 0px 0px var(--color3);
    border-radius: 50%;
    z-index: 0;
}

.main-sectionourteam-team-item-text  {
    max-width: 600px;
    z-index: 1;
}

.main-sectionourteam-team-item-text-title {
    color: white;
    font-weight: bold;
}

.main-sectionourteam-team-item-text-profission {
    color: white;
    font-weight: 300;
    font-size: .92rem;
    margin-bottom: 10px;
}

.main-sectionourteam-team-item-text-paragraph {
    color: white;
    font-weight: 300;
    font-size: 1.1rem;
    letter-spacing: 0.155rem;
}

.main-sectionbrandswehelp {
    background-image: linear-gradient(to bottom, #2c2c2c 50%, var(--color0));
    padding-block: 70px;
}

.main-sectionbrandswehelp-title {
    color: #EEEEEE;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.main-sectionbrandswehelp-brands {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.main-sectionbrandswehelp-brands-item {
    background-color: hsla(0, 0%, 36%, 0.5);
    padding-block: 10px;
    border-radius: 10px;
}

.main-sectionworks {
    background-color: var(--color0);
    padding-bottom: 100px;
}

.main-sectionworks-title {
    color: #EEEEEE;
    text-align: center;
    font-size: 1.8rem;
    text-transform: capitalize;
}

.main-sectionworks-work-title {
    color: #eeeeee94;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -40px;
    font-weight: 300;
}

.main-sectionworks-work-images {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 1101px;
    height: 80vh;
    margin: 0 auto;
}

.main-sectionworks-work-images-item {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    padding-top: 55px;
    filter: saturate(0%);
}

.main-sectionworks-work-images-item-center {
    object-position: center center;
}

.main-sectioncontactus {
    background-color: #282828;
    padding-inline: 100px;
    font-family: var(--font1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-block: 70px;
}

.main-sectioncontactus-title {
    color: white;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.6rem;
    width: 100%;
    height: fit-content;
}

.main-sectioncontactus-forms {
    display: grid;
    width: 40%;
    grid-template-columns: 45% 45%;
    grid-template-areas: "firstname lastname" "email email" "message message";
    row-gap: 23px;
    column-gap: 17px;
    margin-top: 40px;
}

.main-sectioncontactus-contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-sectioncontactus-contacts-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-sectioncontactus-contacts-item-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.main-sectioncontactus-contacts-item-top-image {
    width: 28px;
}

.main-sectioncontactus-contacts-item-top-title {
    color: white;
    font-weight: 600;
}

.main-sectioncontactus-contacts-item-subtitle {
    color: white;
    font-weight: 400;
    text-indent: 38.6px;
}

.main-sectioncontactus-contacts-item-iframe {
    border-radius: 4px;
    margin-left: 38.6px
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 100px;
    background-color: #232323;
    padding-block: 25px;
    align-items: center;
}

.footer-copymade {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.footer-copymade p {
    color: white;
}

.footer-socials {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer-socials-item {
    width: 28px;
}
