.button {
    padding-block: 14px;
    border-radius: 3px;
    font-family: var(--font-default);
    transition: all .3s;
}

.button:active {
    background-color: var(--button-active) !important;
    transition: all 60ms;
}

.main-sectionworks-work-buttons {
    margin: auto;
    width: fit-content;
    position: relative;
    bottom: 80px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.main-sectionworks-work-buttons-item {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.521);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.438);
}

.main-sectionworks button {
    text-transform: capitalize;
    padding: 16px 40px;
    font-size: 1.17rem;
    background-color: var(--color1);
    color: white;
    margin: 0 auto;
    width: fit-content;
    display: block;
    border-radius: 4px;
    margin-top: 20px;
    font-family: var(--font1);
}

.main-sectionworks button:hover {
    background-color: var(--main-sectionworks-button-hover);
}

.main-sectioncontactus .button {
    background-color: var(--color0);
    font-family: var(--font1);
    color: var(--main-sectioncontactus-button-color);
    font-size: 1.17rem;
    max-width: 200px;
}

.main-sectioncontactus .button:hover {
    background-color: var(--main-sectioncontactus-button-hover);
    cursor: url("../images/cursor/cursor-event.svg"), pointer;
}